<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/toc-toc-logo-white.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/toc-toc-logo-white.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Browse</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['all-recipes']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-spaceship"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Browse</h5>
                  <p class="description d-none d-md-inline-block mb-0">Browse our recipes.You might find something you like.</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['/popular']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-planet"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Popular</h5>
                  <p class="description d-none d-md-inline-block mb-0">Check out the most popular recipes on the site.</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Search</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/find-by-title']" class="dropdown-item">Recipe by title</a>
            <a [routerLink]="['/find-by-ingredients']" class="dropdown-item">Recipe by ingredients</a>
          </div>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['/lucky']" (click)="toRandom()" class="nav-link no-caret" title="Test your luck. Check out a random generated recipe">
            <span class="nav-link-inner--text">I'm feeling lucky</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
        <div *ngIf="loggedIn() == false"  class="loggedIn__wrapper">
          <li class="nav-item d-none d-lg-block ml-lg-4">
            <a routerLinkActive="active" [routerLink]="['signup']" class="btn btn-neutral btn-icon">
              <span class="nav-link-inner--text">Register</span>
            </a>
          </li>
        </div>
        <div *ngIf="loggedIn() == false" class="loggedIn__wrapper">
          <li class="nav-item d-none d-lg-block ml-lg-4">
            <a routerLinkActive="active" [routerLink]="['login']" class="btn btn-neutral btn-icon">
              <span class="nav-link-inner--text">Log In</span>
            </a>
          </li>
        </div>
        <div *ngIf="loggedIn()" class="loggedIn__wrapper">
          <li class="nav-item d-none d-lg-block ml-lg-4">
            <a routerLinkActive="active" [routerLink]="['/favourites']" class="nav-link no-caret" title="Check out your favourites">
              <span class="nav-link-inner--text">Favourites</span>
            </a>
          </li>
        </div>
        <div *ngIf="loggedIn()" class="loggedIn__wrapper">
          <li class="nav-item d-none d-lg-block ml-lg-4">
            <a routerLinkActive="active" [routerLink]="['/history']" class="nav-link no-caret" title="Check out previously visisted recipes">
              <span class="nav-link-inner--text">History</span>
            </a>
          </li>
        </div>
        <div *ngIf="loggedIn()" class="loggedIn__wrapper">
          <li class="nav-item d-none d-lg-block ml-lg-4">
            <a (click)="logout()" target="_blank" class="btn btn-neutral btn-icon">
              <span class="nav-link-inner--text">Log out</span>
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
