<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="https://snworksceo.imgix.net/dtc/3fb856c1-1399-4e9b-a2b3-74b8b094c618.sized-1000x1000.jpg?w=1000" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <!-- <a href="javascript:void(0)" class="btn btn-sm btn-primary mr-4">Add to favourites</a> -->
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">35</span>
                  <span class="description">Time</span>
                </div>
                <div>
                  <span class="heading">4</span>
                  <span class="description">Yields</span>
                </div>
                <div>
                  <span class="heading">Apetizer</span>
                  <span class="description">Category</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>Untitled Goose
            </h3>
            <div><i class="ni education_hat mr-2"></i>Fusce at dictum sapien. Suspendisse justo velit, dignissim ac velit in, interdum maximus urna. Curabitur nec facilisis purus. Vivamus ut nulla finibus, convallis orci eu, iaculis diam. Donec sagittis enim massa, vitae interdum nulla mollis sed. Proin vestibulum laoreet odio. Suspendisse bibendum magna imperdiet, aliquam quam sit amet, auctor enim. Aliquam condimentum lectus in mauris ornare, id placerat dui convallis. Maecenas vehicula elit vel dolor cursus, ac semper nibh imperdiet. Vestibulum sed fermentum arcu, ac bibendum dolor. Ut non mollis augue. Nullam lacinia blandit libero volutpat tincidunt.</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan odio nisi, sed fermentum libero elementum in. Donec tincidunt tincidunt odio, vel hendrerit libero vehicula et. Vestibulum arcu justo, hendrerit ac auctor sit amet, consectetur nec dolor. Aenean dictum malesuada metus quis volutpat. Etiam elementum lorem leo, ac luctus augue placerat id. Nam urna lectus, porta vel turpis sit amet, tincidunt faucibus mi. Duis finibus mauris a elit feugiat tempus. Pellentesque sed mollis nunc, at viverra est. Etiam elit ante, vestibulum sed lacinia et, pulvinar sit amet metus. Pellentesque eros purus, venenatis et elementum non, imperdiet sed nisi. Morbi rutrum sem quis elit ornare placerat. Integer dapibus turpis non interdum elementum. Vestibulum semper auctor nunc, sit amet gravida dolor molestie nec. Sed sed eros ex. Integer turpis velit, consequat sit amet ullamcorper id, ultrices eget nisl. Proin non rhoncus lacus, sit amet facilisis massa.
                  Fusce at dictum sapien. Suspendisse justo velit, dignissim ac velit in, interdum maximus urna. Curabitur nec facilisis purus. Vivamus ut nulla finibus, convallis orci eu, iaculis diam. Donec sagittis enim massa, vitae interdum nulla mollis sed. Proin vestibulum laoreet odio. Suspendisse bibendum magna imperdiet, aliquam quam sit amet, auctor enim. Aliquam condimentum lectus in mauris ornare, id placerat dui convallis. Maecenas vehicula elit vel dolor cursus, ac semper nibh imperdiet. Vestibulum sed fermentum arcu, ac bibendum dolor. Ut non mollis augue. Nullam lacinia blandit libero volutpat tincidunt.
                  Praesent vulputate orci ut est aliquet, id finibus nisl bibendum. Aenean nulla ligula, dapibus sed nibh a, molestie luctus mi. Maecenas ac mi sed mauris commodo posuere quis quis odio. Sed quis dolor sollicitudin, commodo turpis ut, suscipit arcu. Donec felis quam, cursus nec sem in, mattis tempus ex. Vestibulum feugiat sem quis magna vehicula, et varius enim tristique. Nam eu pulvinar risus. Nunc ligula elit, aliquet sit amet vulputate quis, rhoncus quis felis. Duis at purus a ligula bibendum sagittis in cursus velit. Donec egestas at velit at convallis. Mauris dignissim purus a fringilla molestie. Pellentesque accumsan augue id ex sollicitudin ultricies. Fusce sit amet diam quis metus molestie faucibus. Proin suscipit orci sit amet nulla elementum pellentesque. Donec efficitur magna eu nulla vehicula pharetra.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
