ingredients-content {
    display: flex;
    justify-content: center;
}

li {
    border-width:1px;
    list-style-type:none;
    padding-left: 0pt;
    text-align: left;
}


.add-to-favourites{
    position: absolute;
    float: right;
    // left: 520px;
    // margin-top: 30px;
    visibility: visible;
}

.is-favourite{
    position: absolute;
    float: right;
    // left: 520px;
    // margin-top: 30px;
    visibility: hidden;
}
