<main class="title-search">
    <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    <div class="position-relative">
        <section class="section section-lg section-hero section-shaped">
            <div class="shape shape-style-1 shape-primary alpha-4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="no-items" *ngIf="isEmpty()">
                <img src="./assets/img/icons/common/search.svg"  style="width:50px;height:50px;">
                <p>No favourites yet? Browse and find.</p>
              </div>     
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
              </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="card card-profile shadow mt--300" *ngIf="!isEmpty()">
                    <div class="list-items">
                        <ul class="recipes" *ngFor="let recipe of recipes">
                              <li> 
                                <a [routerLink] = "['/recipe-details']" [state]= "{ recipe : recipe.id }" >
                                  <div class="list-item">
                                    <div class="item-image">
                                      <img src={{recipe.image}} class="img-fluid rounded-shadow-lg" style="width:200px;height:200px;">
                                    </div>
                                    <div class="item-details">
                                      <p class="title"> {{recipe.title}}</p>
                                      <p class="time"> Total time: {{recipe.total_time}}</p>
                                      <p class="yields"> Yields: {{recipe.yields}} portions</p>
                                    </div>
                                  </div> 
                              </a>
                            </li>
                        </ul>
                    </div>
                 </div>
            </div>
        </section>
    </div>
</main>
