p {
    color: grey;
}

ul {
    list-style-type: none;
}
.list-item {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.item-details{
    padding-left: 30px;
}

.item-details .title {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: large;
    color: midnightblue;
    font-weight: bold;
}

.no-items {
    display: flex;
    padding-top: 10%;
    padding-left: 35%;
}

.no-items p{
    font-weight: bold;
    font-size: larger;
    color: mintcream;
}